{% extends "base.twig" %}

{% block content %}
	<div class="text-center">
		<h2 class="mt-20">Articles</h2>
	</div>
	<hr>
	<!-- <p>{{ qux }}</p> -->

	<div class="row-extended">
		{% for post in posts %}
			{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
		{% endfor %}
	</div>


	<hr>
	{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
{% endblock %}
